$light-red: #FF0000;
$dark-red: #D30000;
$dark-grey: #4C4C4C;
$light-grey: #E6E6E6;
$medium-grey: #999;
$darkest-grey: #434343;
$white: #ffffff;
$black: #000000;
$yellow:#FFFF66;

.col-xs* {
 padding: 0;
}
