.actualizado {
    position: relative;
    top: 20px;
    right: 95px;
}

.actualizado p{
    width: 120px;
}

.text-10 {
    font-size: 10px;
}

.text-20 {
    font-size: 20px;
}

h2{
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    
    color: #333333;
    text-align: left;
    line-height: normal;
    
    margin-left: 210px;
    margin-top: 23px;
    word-spacing: 1px;
}


